{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container py-4">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-9 col-lg-7 col-xl-8">
            <form class="d-flex mb-3" method="post">
                {% csrf_token %}
                <input class="form-control p-3" placeholder="Find city..." aria-label="Search" name="city" id="form">
                <button class="btn btn-dark" type="submit">Check!</button>
            </form>
            {% if today.city %}
            <div class="card mb-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between mb-0">
                        <div>
                            <h4 class="text-muted">🌎 {{ today.city }}, {{ today.country }}</h4>
                            <h3 class="display-2"><strong>{{ today.temp }}°C</strong></h3>
                        </div>

                        <div>
                            <p><img src="{% static 'images/dashboard/wind.png' %}" alt="a" width="15px"> Wind: <b>{{ today.wind}} m/s</b></p>
                            <p>🌡️ Pressure: <b>{{ today.pressure }} mmHg</b></p>
                            <p>💧 Humidity: <b>{{ today.humidity }}%</b></p>
                            <p>☝ Feels like: <b>{{ today.feels_like }}°C</b></p>
                            <img src="{% static 'images/dashboard/see.png' %}" alt="{{ today.desc }}" width="17px">
                            Description: <b>{{ today.desc }}</b>
                        </div>
                        <div>
                        </div>
                        <div>
                            <img src="{% static 'images/icons/'|add:today.icon|add:'.png' %}" alt="{{ today.desc }}"
                                width="150px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-around text-center mb-0">
                        {% for hour in hourly %}
                        <div class="flex-column">
                            <p class="mb-0"><strong>{{ hour.time }}</strong></p>
                            <img src="{% static 'images/icons/'|add:hour.icon|add:'.png' %}" alt="{{ hour.desc }}"
                                width="60px">
                            <p><strong>{{ hour.temp }}°C</strong></p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-around text-center mb-0">
                        {% for frc in forecast %}
                        <div class="flex-column">
                            <p class="mb-0"><strong>{{ frc.day }}</strong></p>
                            <img src="{% static 'images/icons/'|add:frc.icon|add:'.png' %}" alt="{{ frc.desc }}" width="60px">
                            <p><strong>{{ frc.temp }}°C</strong></p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% elif message %}
            <div class="card mb-3">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-around text-center mb-0">
                        <h2>{{ message }}</h2>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}